{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>رزومه | Milad</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>


<body>


<section class="resume">



<h1>
Milad
</h1>


<h2>
توسعه‌دهنده Python و Django 🚀
</h2>



<p>
علاقه‌مند به برنامه‌نویسی، ساخت وب‌سایت‌های مدرن،
توسعه نرم‌افزار و یادگیری تکنولوژی‌های جدید.
</p>





<hr>





<h2>
درباره من 👨‍💻
</h2>


<p>

من یک برنامه‌نویس علاقه‌مند به دنیای فناوری هستم.
تمرکز اصلی من روی زبان Python، فریم‌ورک Django
و ساخت پروژه‌های کاربردی تحت وب است.

همیشه تلاش می‌کنم با یادگیری مداوم،
ایده‌ها را به پروژه‌های واقعی تبدیل کنم.

</p>






<h2>
مهارت‌ها 🛠️
</h2>


<div class="resume-skills">


<ul>

<li>🐍 Python</li>

<li>🌐 Django</li>

<li>🎨 HTML & CSS</li>

<li>🐙 Git</li>

<li>💻 GitHub</li>

<li>⚙️ PyCharm</li>

<li>🗄️ کار با دیتابیس‌ها</li>

</ul>


</div>






<h2>
علاقه‌مندی‌ها ⭐
</h2>


<ul>

<li>
ساخت وب‌سایت و برنامه‌های کاربردی
</li>


<li>
توسعه بازی و ایده‌های خلاقانه در دنیای گیم
</li>


<li>
هوش مصنوعی و ساخت ابزارهای هوشمند
</li>


<li>
یادگیری تکنولوژی‌های جدید برنامه‌نویسی
</li>


<li>
طراحی پروژه‌های بزرگ و خلاقانه
</li>


<li>
امنیت و دنیای کامپیوتر
</li>


</ul>






<h2>
پروژه‌ها 🚀
</h2>


<p>

ساخت پورتفولیوی شخصی با Django،
طراحی صفحات وب،
کار با سیستم مدیریت پروژه‌ها
و توسعه ایده‌های نرم‌افزاری.

</p>







<h2>
هدف من 🎯
</h2>


<p>

تبدیل شدن به یک توسعه‌دهنده حرفه‌ای،
ساخت پروژه‌های بزرگ و یادگیری مداوم
برای پیشرفت در دنیای فناوری.

</p>







<a class="btn" href="#">
دانلود رزومه PDF
</a>




</section>



</body>

</html>